* {
    font-family: 'Roboto';
}

body{
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}

header{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.row{
    margin: 0 !important;
}

.container-fluid{
    padding: 0 !important;
}

.btn-primary{
    background-color: #f2a340 !important;
    border: 2px solid #c28008 !important;
}

.btn-primary:hover{
    background-color: #c28008 !important;
    border-color: #c28008 !important;
}

#navbar img{
    width: 40px ;
    margin-left: 10px ;
}

#navbar{
    justify-content: space-between;
    background-color: #fff;
    padding: 5px 0;
}

#navbar a{
    font-size: 18px;
    color: #ff910b;
}

#navbar a:hover{
    color: #ffb55b;
}

#search-container{
    background-image: url(../img/R.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    padding: 50px;
    text-align: center;
}

#search-container h1{
    color: #fff;
    margin-bottom: 30px;
    font-weight: 900;
}

#search-container form{
    width: 50%;
    margin: 0 auto;
}

#books-container{
    display:inline-block;
    padding: 50px;
}

#books-container h2{
    margin-bottom: 10px;
}

#books-container .subtitle{
    color: #757575;
    margin-bottom: 30px;
}   

#cards-container{
    display: flex;
}

#books-container .card{
    flex: 1 1 0;
    max-width: 25%;
    border-radius: 10px ;
    padding: 0;
    margin: 5px
}

#books-container img{
    max-height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card .card-date{
    font-size: 12px;
    color: rgb(182, 179, 179)
}

.card .card-title{
    color: #212121;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.card-participants{
    font-size: 14px;
    color:#757575
}

#donation-create-container {
    padding: 30px !important;
}

#donation-create-container label{
    padding: 5px !important;
    font-weight: bold;
}

.button{
    margin-top: 10px;
}

#donation-create-container input,
#donation-create-container select,
#donation-create-container textarea{
    font-size: 14px;
}

footer{
    text-align: center;
    background-color: #ff910b;
    color: #fff;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p{
    margin-bottom: 0;
}